<%= erb :header %>

<section id="intro">
<header>
		<h2>Imdb ranking of our TV shows</h2>
</header>
</section>

<section id = "content">
	<ul class="column">
		<% @list.each do |show, imdb_data| %>	
			<li>
			<section class="block">
				<h3>				
				<%= show.name %> 
				</h3>
				<p>
				<b>Rating: </b>
				<%= imdb_data[0] %> 
				<b>   Seasons: </b>
				<%= imdb_data[1] %>
				</br>
				<a href=<%= imdb_data[2]%>>Link to: <%= show.name %></a>
				</p>
				<img src= <%= imdb_data[3] %> />		
			</section>		
			</li>
		<% end %>
	</ul>
</section>