<%= erb :header %>

<section id="intro">
<header>
		<h2>Imdb ranking of our TV shows</h2>
</header>
</section>

<section id = "content">
	<ul class="column">
		<% @list.each do |show, imdb_data| %>
			<li class="block">
				<h3>				
				<%= show.name %> 
				</h3>
				<p>
				<b>Rating: </b>
				<%= imdb_data[0] %> 
				</br>
				<b>Seasons: </b>
				<%= imdb_data[1] %>
				</br>
				<b>Link: </b>
				<a href='\"'<%= imdb_data[2]%>'\"'> </a>
				</p>
				<img src= <%= imdb_data[3] %> />				
			</li>
		<% end %>
	</ul>
</section>