<%= erb :header %>

<section id="intro">
<header>
		<h2>Imdb ranking of our TV shows</h2>
</header>
</section>

<section id = "content">
	<ul class="column">
			<li>
			<section class="block">
				<h3>				
				<%= @show_info[5] %> 
				</h3>
				<p>
				<b>Rating: </b>
				<%= @show_info[0] %> 
				<b>   Seasons: </b>
				<%= @show_info[1] %>
				</br>
				<a href=<%= @show_info[2]%>>Imdb Link to: <%= @show_info[5] %></a>
				<a href=<%= @show_info[3]%>>Our Link to: <%= @show_info[5] %></a>
				</p>
				<img src= <%= @show_info[4]%>/>		
			</section>		
			</li>
	</ul>
</section>
